version: "3"
services: 
    app:
        container_name: node_mongo
        restart: always
        build: .
        ports:
            - "80:5000"
        links:
            - mongo
    mongo:
        container_name: mongo
        image: mongo
        ports: 
            - "27017:27017"