.navbar {
    background-color: rgb(29, 235, 97);
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1{
    text-transform: capitalize;
}

.ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.li{
    list-style: none;
    padding: 0.75rem;
    text-transform: capitalize;
    cursor: pointer;
}