<h1>Dashboard</h1>
<br/>
<% if( user.userName !== undefined && user.email !== undefined && user.password !== undefined ){ %>
    Hello, <%= user.userName %>
    <br/>
    Your email is <%= user.email %>
<% } else { %>
  something went wrong
<% } %>
<br />
<a href="/blog">Blogs</a>
<a href="/users/logout">Log out</a>