<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="This is a blog website" />
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<meta name="keywords" content="blog website template, blog website template">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="vivek80801" />
	<title>Welcome to my app</title>
	<link rel="stylesheet" href="/index.css"/>
</head>

<body>
	<header>
		<h1>Logo</h1>
		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<% if (typeof auth != "undefined" && auth == true) { %>
					<li><a href="/dashboard">dashboard</a></li>
					<li><a href="/blog">blogs</a></li>
					<li><a href="/blog/createblog">create blog</a></li>
					<li><a href="/users/logout">log out</a></li>
					<% } else { %>
						<li><a href="/users/login">log in</a></li>
						<% } %>
			</ul>
		</nav>
	</header>
	<main>
		<div class="container">
			<%- body %>
		</div>
	</main>

	<script src="/index.js"></script>
</body>

</html>
