<% if (resp.length>0) { %>
 <% resp.forEach(singleBlog => { %>
    <h1>
        <%= singleBlog.title %> 
    </h1>
    <p>
        <%= singleBlog.des %> 
    </p>
 <% }) %>
 <% } else { %>
    <p>There is no ports</p>
<% } %>
 
<a href="/blog/createblog">Create Blog</a>
<a href="/users/logout">Log out</a>
