<h1>Welcome To My App</h1>
<form action="register" method="POST">
  <label for="userName">User Name:</label>
  <input type="text" name="userName" placeholder="Enter Your User Name" />
  <label for="eamil">Email:</label>
  <input type="email" name="email" placeholder="Enter Your Email" />
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Enter Your Password" />
  <button type="submit">Register</button>
</form>
