<h1>Welcome To My App</h1>
<form action="users/register" method="POST">
  <%- include("./partials/messages"); %>
  <label for="userName">User Name:</label>
  <input
    type="text"
    name="userName"
    placeholder="Enter Your User Name"
    value="<%= typeof name != 'undefined' ? name :'' %>"
  />
  <label for="eamil">Email:</label>
  <input
    type="email"
    name="email"
    placeholder="Enter Your Email"
    value="<%= typeof email != 'undefined' ? email :'' %>"
  />
  <label for="password">Password:</label>
  <input
    type="password"
    name="password"
    placeholder="Enter Your Password"
    value="<%= typeof password != 'undefined' ? password :'' %>"
  />
  <button type="submit">Register</button>
</form>
<br/>
Already have an account <a href="/users/login">Log In</a>
